*{
	margin: 0;
	padding: 0;
}
::-webkit-scrollbar {
display: none;
}
body{
	background: url(https://i.pinimg.com/originals/43/71/a5/4371a5030e717706b8264be1e8d6bdb1.jpg);
	background-size: 133%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.portada{
	height: 250px;
	margin-top: 40px;
	margin-bottom: 40px;
	border-bottom-right-radius: 30px;
	filter: drop-shadow(15px 15px black);
	transition: all 100ms;
	}
.portada:hover{
	height: 270px;
	}
nav{
	background: url(https://i.pinimg.com/originals/02/6c/61/026c616675614fe5bea7b91a551b71c0.jpg);
	background-position:0% 10%;
	filter: drop-shadow(0.1px 0.1px 15px black);
	background-size: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 5%;
	padding-right: 5%;
	}
.logo{
	height: 45px;
	filter: contrast(0%) brightness(100.0);
	transition: 500ms;
	}
.logo:hover{
		filter: unset;
	}

@media screen and (max-width:1000px){
	body{
		background-size: 445%;
		background-position: 20% 0%;
	}
	nav{
		background-position: 70% 5%;
		background-size: 148%;
	}
	}